body{
  background-color: rgb(209, 209, 209);
 }

h1{
  color: whitesmoke;
}

.common{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }



.boxyboy{
  float: left;
  width: 35%;
  border: 10px solid fuchsia;
  padding: 25px;
  box-sizing: border-box;
  color: fuchsia;
  background-color: honeydew;
  border-radius: 10%;
}

img{
  float: right;
  width: 38%;
  height: auto;
}

